* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #bluetooth, #network, #battery, #custom-power {
    background: rgba(30, 20, 40, 0.75);
    border-radius: 20px;
    padding: 5px 16px;
    margin: 0 6px;
    color: #e5d4ff;
}

#workspaces button {
    padding: 0 4px;
    color: #a78bfa;
}

#workspaces button.active {
    color: #f0abfc;
}

#custom-power:hover {
    background: rgba(168, 85, 247, 0.5);
}
